body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  color: #000000;
  font-family: "Lucida console", monospace;
  font-size: 3vh;
  font-weight: 400;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#calc {
  display: inline-grid;
  grid-template-columns: repeat(25, auto);
  grid-template-rows: repeat(20, auto);
  gap: 0;
}

.vert {
}

.btn:active {
  background: black;
  color: white;
}

.vert,
.horLo,
.horHi,
.title {
  font-weight: 100;
}

.display {
  font-weight: 800;
}
